---
aliases:
- test-notebook
date: '2024-07-17'
description: nothing
output-file: test-notebook.html
title: test-notebook
image: images/thumbnail.jpg
---

In [2]:
df = pd.read_json("users_export_phone.json")

In [4]:
df.drop_duplicates(subset=["phone_number"], inplace=True)
df.dropna(subset=["phone_number"], inplace=True)

In [11]:
txt_num = "\n".join(df["phone_number"].astype("str").tolist())
with open("phone_numbers.txt", "w") as file:
    file .write(txt_num)

In [2]:
df_all = pd.DataFrame()
for i in glob.iglob("word_data/*.json"):
    if "article" in i:
        df = pd.read_json(i)
        if "count" in df.columns.tolist():
            df.rename(columns={"count":"words"}, inplace=True)
        df_all = pd.concat([df, df_all], ignore_index=True)
    else:
        pass

In [3]:
df_all["created"] = pd.to_datetime(df_all["created"])

In [8]:
df_all = df_all[df_all["created"] > "2023-07-23"]

In [12]:
df_all["month"] = df_all["created"].dt.month
df_all.groupby("month").agg({"complete": "sum", "words": "sum"})

       complete    words
month
1          1972  1944453
7           508   663098
8          1310  1688996
9          1479  1944561
10         1804  2373311
11         1935  1904306
12         2876  2759498

In [90]:
dd = df_all[df_all["created"] > "1-10-2023"]
dd["words"].max()

8839

In [58]:
df_month = df_all.groupby("week").agg({"words": "sum"}).reset_index()
df_day = df_all.groupby("day").agg({"words": "sum"}).reset_index()

In [87]:
a= dd.groupby(pd.Grouper(key='created', freq='D')).agg({"words": "mean"})
print(a["words"].mean())

614.6506297601618

In [82]:
a= df_all.groupby(pd.Grouper(key='created', freq='W')).agg({"words": "mean"})
print(a["words"].mean())

591.223619913266

In [68]:
def weekinmonth(dates):
    """Get week number in a month.
    
    Parameters: 
        dates (pd.Series): Series of dates.
    Returns: 
        pd.Series: Week number in a month.
    """
    firstday_in_month = dates - pd.to_timedelta(dates.dt.day - 1, unit='d')
    return (dates.dt.day-1 + firstday_in_month.dt.weekday) // 7 + 1
weekinmonth(df["created"])

AttributeError: Can only use .dt accessor with datetimelike values

In [52]:
df = pd.read_excel("Tarikh.xlsx", header=None)
df.dropna(inplace=True)
df[0] = df[0].apply(lambda x: str(x).replace("/", "-"))

In [31]:
df.iloc[0][0]

'1401/01/01'

In [33]:
"1401/01/01".replace("/", "")
# import re
# re.sub("\\", " ","1401/01/01")

'14010101'

In [40]:
df

               0
0     1401-01-01
1     1401-01-02
2     1401-01-03
3     1401-01-04
4     1401-01-05
...          ...
4573  1402-07-08
4574  1402-07-08
4575  1402-07-08
4576  1402-07-09
4577  1402-07-08

[4412 rows x 1 columns]

In [41]:
import jalali

In [47]:
jalali.Persian("1401-04-24").gregorian_string()

'2022-7-15'

In [49]:
def to_georgian(row):
    try:
        return jalali.Persian(str(row)).gregorian_string()
    except:
        return "BAD FORMAT"

In [50]:
df["georgian"] = df[0].apply(lambda x: to_georgian(x))

In [2]:
df = pd.read_csv("events-export-2920092-1697700606932.csv")

In [4]:
df["Time"].iloc[0]

1693584039.558

In [7]:
import json

In [8]:
with open("events-export-2920092-1697700859686.json") as f:
    j = json.load(f)

In [9]:
j[0]

{'event': 'Create Purchase',
 'properties': {'time': 1693584039.558,
  'distinct_id': 'mehdiahmadvand123s@gmail.com',
  '$insert_id': 'd1e5322e31ef4eb69e5d34080537e7f1',
  '$lib_version': '4.10.0',
  '$mp_api_endpoint': 'api.mixpanel.com',
  '$mp_api_timestamp_ms': 1693584039627,
  'Discount': None,
  'Plan': 3112720570236792,
  'Price': 100000,
  'Status': 'paied',
  'Words after purchase': 5000,
  'Words before purchase': 5000,
  'mp_lib': 'python',
  'mp_processing_time_ms': 1693584039662},
 'isExpanded': True}

In [4]:
import json
import glob

In [5]:
dirs = []
for i in glob.iglob("*.json"):
    dirs.append(i)

In [13]:
with open(dirs[3]) as file:
    j = json.load(file)

In [4]:
import pandas as pd
import re

In [7]:
with open("discount_codes.txt") as file:
    codes = file.readlines()

In [8]:
codes = [x.replace("\n", "") for x in codes]

In [10]:
df = pd.DataFrame({"codes": codes})

In [12]:
df.to_excel("discount_codes.xlsx", index=False)

In [13]:
a = """
html
asdad
html
"""
a.strip()

'html\nasdad\nhtml'

In [14]:
if a.strip().startswith("html"):
    print(a[4:])

l
asdad
html